# Data that can be sourced elsewhere#
#####################################
implementation/data/CiteSeer/*
implementation/data/PhysicsArchive/Abstract/*
!.gitignore

# Packages #
############
dist/*
!.gitignore

# artifacts#
############
*~
*.pyc
*.pkl
*.abs